{% import '_nav.html' as nav with context %}
{% import '_components.html' as components with context %}

{% macro menu(user=None, obj=None) -%}
<ul class="menu__list">
    {{nav.sidemenu_item(user, obj, name="History", url="/api/components/history")}}
    {{nav.sidemenu_item(user, obj, name="Attributes", url="/api/components/page/attributes")}}
    {{nav.sidemenu_item(user, obj, name="Residence Map", url="/api/components/map")}}
    {{nav.sidemenu_item(user, obj, name="Associations", url="/api/components/associations")}}
</ul>
<p class="menu__divider"></p>
<ul class="menu__list">
    {{nav.sidemenu_item(user, obj,"Item", url="/api/components/childpanel/item")}}
</ul>
<p class="menu__divider"></p>
<ul class="menu__list">
    <li>
        <a class="menu-anchor" hx-post="/api/components/page/chats" hx-target="#model-content">Chat</a>
    </li>
</ul>
{%- endmacro %}

{% macro attributes(user, obj) -%}
<div class="panel">
    <div class="row">
        <div class="column is-full tab-panel" id="character-attributes">
            <form hx-post="/api/model/update" hx-swap="none" hx-trigger="change">
                <h2>Details</h2>
                <div class="panel has-bg-light ">
                    <div class="row has-space-between">
                        <div class="column inputlabel">
                            <label>STR</label>
                            <input class="inputlabel" type="text" {% if not user.world_owner(obj)%} readonly {% endif %}
                                value="{{obj.strength}}" name="strength">
                        </div>
                        <div class=" column inputlabel">
                            <label class="input__label">DEX</label>
                            <input class="input__text" type="text" {% if not user.world_owner(obj)%} readonly {% endif
                                %} value="{{obj.dexterity}}" name="dexterity">
                        </div>
                        <div class="column inputlabel">
                            <label>INT</label>
                            <input class="inputlabel" type="text" {% if not user.world_owner(obj)%} readonly {% endif %}
                                value="{{obj.intelligence}}" name="intelligence" <div class="column inputlabel">
                        </div>
                        <div class="column inputlabel">
                            <label>WIS</label>
                            <input class="inputlabel" type="text" {% if not user.world_owner(obj)%} readonly {% endif %}
                                value="{{obj.wisdom}}" name="wisdom">
                        </div>
                        <div class="column inputlabel">
                            <label>CHA</label>
                            <input class="inputlabel" type="text" {% if not user.world_owner(obj)%} readonly {% endif %}
                                value="{{obj.charisma}}" name="charisma">
                        </div>
                        <div class="column inputlabel">
                            <label>CON</label>
                            <input class="inputlabel" type="text" {% if not user.world_owner(obj)%} readonly {% endif %}
                                value="{{obj.constitution}}" name="constitution">
                        </div>
                    </div>
                </div>
                <hr>
                <div class="panel has-bg-light ">
                    <div class="row has-space-between">
                        <div class="column is-full inputlabel">
                            <label class="is-subheading">Occupation</label>
                            <input type="text" {% if not user.world_owner(obj)%} readonly {% endif %}
                                value="{{obj.occupation}}" name="occupation">
                        </div>
                        <div class="column is-3 inputlabel">
                            <label for="model-hitpoints" class="is-subheading">HP</label>
                            <input id="model-hitpoints" type="text" {% if not user.world_owner(obj)%} readonly {% endif
                                %} value="{{obj.hitpoints}}" name="hitpoints">
                        </div>
                        <div class="column is-3 inputlabel">
                            <label class="is-subheading">Race</label>
                            <input type="text" {% if not user.world_owner(obj)%} readonly {% endif %}
                                value="{{obj.race}}" name="race">
                        </div>
                        <div class="column is-3 inputlabel">
                            <label class="is-subheading">Gender</label>
                            <input type="text" {% if not user.world_owner(obj)%} readonly {% endif %}
                                value="{{obj.gender}}" name="gender">
                        </div>
                        <div class="column is-3 inputlabel">
                            <label class="is-subheading">Age</label>
                            <input type="number" {% if not user.world_owner(obj)%} readonly {% endif %}
                                value="{{obj.age}}" name="age">
                        </div>
                    </div>
                </div>
            </form>
            <hr>
            {% if user.world_owner(obj)%}
            <div class="row">
                <div id="model-wealth" class="column is-4">
                    <h5> Wealth</h5>
                    <div class="row">
                        {%for wealth in obj.wealth%}
                        <div class="column is-full has-text-primary has-row-margin">
                            {{wealth | safe}}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="column is-shrink">
                            <button class="button is-secondary" hx-post="/api/components/page/wealthform"
                                hx-target="#model-wealth">Edit</button>
                        </div>
                    </div>
                </div>
                <div id="model-abilities" class="column">
                    <h5> Abilities</h5>
                    <div class="row">
                        {%for ability in obj.abilities%}
                        <div class="column is-full has-text-primary">
                            <div class="panel has-bg-light">
                                <p>{{ability | safe}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="column is-shrink">
                            <button class="button is-secondary" hx-post="/api/components/page/abilitiesform"
                                hx-target="#model-abilities">Edit</button>
                        </div>
                    </div>
                </div>

            </div>
            <hr>
            <div class="row">
                <div class="column is-full">
                    <hr class="has-bg-primary">
                    <h5>Goals and Secrets</h5>
                    <div class="panel has-bg-light">
                        <p>{{obj.goal | safe}}</p>
                    </div>
                    <div class="row">
                        <div class="column is-shrink">
                            <button class="button" hx-post="/api/components/page/goalsform"
                                hx-target="#model-content">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{%- endmacro %}

{% macro goalsform(user, obj) -%}
<h4>Edit Goals</h4>
<form hx-post="/api/model/update" hx-target="#model-content"
    hx-vals='{"macro":"attributes", "module":"pages/_character.html"}'>
    <div class="row">
        <div class="column is-full">
            <label>Abilities</label>
            {{components.texteditor(user, obj, "goal")}}
        </div>
    </div>
    <div class="row">
        <div class="column is-shrink is-end">
            <button class="button is-primary" type="submit">Update</button>
        </div>
    </div>
</form>
{%- endmacro %}

{% macro abilitiesform(user, obj) -%}
<h4>Edit Abilities</h4>
<form hx-post="/api/model/update" hx-target="#model-content"
    hx-vals='{"macro":"attributes", "module":"pages/_character.html"}'>
    <div class="row">
        <div class="column is-full">
            <label>Abilities</label>
            {{components.listeditor(user, obj, "abilities")}}
        </div>
    </div>
    <div class="row">
        <div class="column is-shrink is-end">
            <button class="button is-primary" type="submit">Update</button>
        </div>
    </div>
</form>
{%- endmacro %}

{% macro wealthform(user, obj) -%}
<h4>Edit Wealth</h4>
<form hx-post="/api/model/update" hx-target="#model-content"
    hx-vals='{"macro":"attributes", "module":"pages/_character.html"}'>
    <div class="row">
        <div class="column is-full">
            <label>Abilities</label>
            {{components.listeditor(user, obj, "wealth")}}
        </div>
    </div>
    <div class="row">
        <div class="column is-shrink is-end">
            <button class="button is-primary" type="submit">Update</button>
        </div>
    </div>
</form>
{%- endmacro %}

{% macro chats(user=None, obj=None) -%}
<div class="row">
    <div class="column is-full" id="character-chats">
        <div class="panel has-bg-light" style="min-height:100%">
            <h3>Chats</h3>
            <hr>
            <div class="row">
                <div class="column">
                    <form class="form task-form" hx-post="/task/generate/chat" hx-target="closest .column">
                        <textarea class="has-text-dark" col=6 name="message"
                            placeholder="What would you like to say to {{obj.name}}..." style="font-family:Open-Sans,sans-serif;
                            font-size:1.25rem;
                            line-height: 1.5;"></textarea>
                        <input class="button has-bg-primary has-text-primarytext" type="submit" name="name"
                            value="chat">
                    </form>
                </div>
            </div>
            <div class="row has-text-secondarytext" id="character-chat-history">
                <div class="column">
                    <div class="card">
                        <div class="card__header">
                            <h5 class="is-subheading">Last Response</h5>
                        </div>
                        <div class="card__content">
                            <hr>
                            <p>
                                {{obj.chats.response}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="card__header">
                            <h5 class="is-subheading">Last Message</h5>
                        </div>
                        <div class="card__content">
                            <hr>
                            <p>
                                {{obj.chats.message}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="card__header">
                            <h5 class="is-subheading">Summary</h5>
                        </div>
                        <div class="card__content">
                            <hr>
                            <p>{{obj.chats.summary}}</p>
                        </div>
                    </div>
                </div>
                <div class="column is-full">
                    <div class="card">
                        <div class="card__header">
                            <h6 class="is-subheading">Log</h6>
                        </div>
                        <div class="card__content">
                            {%for msg in obj.chats.backstory%}
                            <div class="card is-shrink">
                                <div class="card__content">
                                    <p>
                                        <span class="tag">Player</span> <br> {{msg[0]}}
                                    </p>
                                    <hr>
                                    <p>
                                        <span class="tag">{{obj.name}}</span> <br> {{msg[1]}}
                                    </p>
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row has-end has-bg-screen">
                <div class="column is-shrink">
                    <form hx-post="/api/model/character/chat/clear" hx-swap="#character-chat-history"
                        hx-select="#character-chat-history">
                        <label for="clear-chat">Clear Chat History</label>
                        <button class="button is-round has-bg-primary has-text-primarytext" type="submit"
                            name="clear-chat" id="clear-chat">
                            <iconify-icon icon="tdesign:chat-clear"></iconify-icon>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{%- endmacro %}