{% import '_nav.html' as nav with context %}
{% import '_components.html' as components with context %}

{% macro menu(user=None, obj=None) -%}
<ul class="menu__list">
    <ul class="menu__list">
        {{nav.sidemenu_item(user, obj, name="History", url="/api/components/history")}}
        {{nav.sidemenu_item(user, obj, name="Attributes", url="/api/components/page/attributes")}}
        {{nav.sidemenu_item(user, obj, name="Lair Map", url="/api/components/map")}}
        {{nav.sidemenu_item(user, obj, name="Associations", url="/api/components/associations")}}
    </ul>
</ul>
<p class="menu__divider"></p>
<ul class="menu__list">
    {{nav.sidemenu_item(user, obj,"Item", url="/api/components/childpanel/item")}}
</ul>
{%- endmacro %}

{% macro attributes(user, obj) -%}
<div class="row">
    <di class="column is-full">
        <h3 class="has-bg-primary has-text-primary">Stats</h3>
        <form hx-post="/api/model/update" hx-swap="none" hx-trigger="change">
            <div class="row has-bg-light has-space-around">
                <div class="column inputlabel is-1 is-mobile-4">
                    <label>STR</label>
                    <input type="text" {% if not user.world_owner(obj)%} readonly {% endif %} value="{{obj.strength}}"
                        name="strength">
                </div>
                <div class="column inputlabel is-1 is-mobile-4">
                    <label>DEX</label>
                    <input type="text" {% if not user.world_owner(obj)%} readonly {% endif %} value="{{obj.dexterity}}"
                        name="dexterity">
                </div>
                <div class="column inputlabel is-1 is-mobile-4">
                    <label>INT</label>
                    <input type="text" {% if not user.world_owner(obj)%} readonly {% endif %}
                        value="{{obj.intelligence}}" name="intelligence">
                </div>
                <div class="column inputlabel is-1 is-mobile-4">
                    <label>WIS</label>
                    <input type="text" {% if not user.world_owner(obj)%} readonly {% endif %} value="{{obj.wisdom}}"
                        name="wisdom">
                </div>
                <div class="column inputlabel is-1 is-mobile-4">
                    <label>CHA</label>
                    <input type="text" {% if not user.world_owner(obj)%} readonly {% endif %} value="{{obj.charisma}}"
                        name="charisma">
                </div>
                <div class="column inputlabel is-1 is-mobile-4">
                    <label>CON</label>
                    <input type="text" {% if not user.world_owner(obj)%} readonly {% endif %}
                        value="{{obj.constitution}}" name="constitution">
                </div>
            </div>

            <div class="panel has-bg-secondary">
                <div class="row has-centered has-space-between">
                    <div class="column inputlabel">
                        <label for="model-hitpoints" class="is-subheading">HP</label>
                        <input id="model-hitpoints" type="text" {% if not user.world_owner(obj)%} readonly {% endif %}
                            value="{{obj.hitpoints}}" name="hitpoints">
                    </div>
                    <div class="column inputlabel has-bg-secondary">
                        <label for="model-size" class="is-subheading">Size</label>
                        <input id="model-size" type="text" {% if not user.world_owner(obj)%} readonly {% endif %}
                            value="{{obj.size}}" name="size">
                    </div>
                    <div class="column inputlabel">
                        <label for="model-type" class="is-subheading">Type</label>
                        <input id="model-type" type="text" {% if not user.world_owner(obj)%} readonly {% endif %}
                            value="{{obj.type}}" name="type">
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            {% if user.world_owner(obj)%}
            <div id="model-goal" class="column">
                <h4>Goal</h4>
                <div class="panel has-bg-primary has-text-primary">
                    <p>{{obj.goal | safe}}</p>
                </div>
                <div class="row">
                    <div class="column is-shrink is-end">
                        <button class="button is-secondary" hx-post="/api/components/page/goalform"
                            hx-target="#model-goal">Edit</button>
                    </div>
                </div>
            </div>
            <div id="model-abilities" class="column">
                <h5> Abilities</h5>
                <div class="row">
                    {%for ability in obj.abilities%}
                    <div class="column is-full has-text-primary">
                        <div class="panel">{{ability | safe}}</div>
                    </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="column is-shrink is-end">
                        <button class="button is-secondary" hx-post="/api/components/page/abilitiesform"
                            hx-target="#model-abilities">Edit</button>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
</div>
</div>
{%- endmacro %}

{% macro goalform(user, obj) -%}
<form hx-post="/api/model/update" hx-target="#model-content"
    hx-vals='{"macro":"attributes", "module":"pages/_creature.html"}'>
    <div class="row">
        <div class="column is-full">
            <label>Goal</label>
            {{components.texteditor(user, obj, "goal")}}
        </div>
    </div>
    <div class="row">
        <div class="column is-shrink is-end">
            <button class="button is-primary" type="submit">Update</button>
        </div>
    </div>
</form>
{%- endmacro %}

{% macro abilitiesform(user, obj) -%}
<form hx-post="/api/model/update" hx-target="#model-content"
    hx-vals='{"macro":"attributes", "module":"pages/_creature.html"}'>
    <div class="row">
        <div class="column is-full">
            <label>Abilities</label>
            {{components.listeditor(user, obj, "abilities")}}
        </div>
    </div>
    <div class="row">
        <div class="column is-shrink is-end">
            <button class="button is-primary" type="submit">Update</button>
        </div>
    </div>
</form>
{%- endmacro %}