{% import '_nav.html' as nav with context %}
{% import '_components.html' as components with context %}

{% macro menu(user=None, obj=None) -%}
<ul class="menu__list">
    {{nav.sidemenu_item(user, obj, name="History", url="/api/components/history")}}
    {{nav.sidemenu_item(user, obj, name="Attributes", url="/api/components/page/attributes")}}
    {{nav.sidemenu_item(user, obj, name="Headquarters Map", url="/api/components/map")}}
    {{nav.sidemenu_item(user, obj, name="Associations", url="/api/components/associations")}}
</ul>
{%- endmacro %}

{% macro attributes(user=None, obj=None) -%}
<div class="panel">
    <div class="row">
        <div id="model-goal" class="column">
            <h4>Goal</h4>
            <div class="panel has-bg-light">
                <p>{{obj.goal | safe}} </p>
            </div>
            {% if user.world_user(obj) %}
            <div class="row">
                <div class="column is-shrink">
                    <button class="button is-secondary" hx-post="/api/components/page/goalform"
                        hx-target="#model-goal">Edit</button>
                </div>
            </div>
            {% endif %}
        </div>
        <div id="model-status" class="column">
            <h4>Status</h4>
            <div class="panel has-bg-light">
                <p>{{obj.status | safe}} </p>
            </div>
            {% if user.world_user(obj) %}
            <div class="row">
                <div class="column is-shrink">
                    <button class="button is-secondary" hx-post="/api/components/page/statusform"
                        hx-target="#model-status">Edit</button>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% if obj.leader %}
    <div class="panel has-bg-light has-text-primary">
        <div class="row">
            <div class="column is-shrink">
                <div class="panel has-bg-primary">
                    <h4 class="has-text-secondary">Leader</h4>
                    <a href="{{obj.leader.page_path()}}">
                        <div class="image is-large is-thumbnail is-margin-center">
                            <img src="{{obj.leader.image()}}" alt="{{obj.leader.name}}" />
                        </div>
                        <label class=""></label>
                        <h4 class="has-text-light">
                            {{obj.leader.name}}
                        </h4>
                    </a>
                </div>
            </div>
            <div class="column">
                <h5>Members</h5>
                <div class="row">
                    {% for member in obj.associations %}
                    {% if member.model_name() == "Character" and member != obj.leader %}
                    <div class="column has-text-center is-shrink">
                        <a href="{{member.page_path()}}">
                            <div class="image is-medium is-thumbnail is-margin-center">
                                <img src="{{member.image(size='100')}}" loading="lazy" alt="{{obj.name}}"
                                    style="width:100%; height:100%;" />
                            </div>
                            <h4 class="has-text-dark">
                                {% if member.name %} {{member.name}} {% else %} {{member.title}} {% endif %}
                            </h4>
                        </a>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% elif user.world_user(obj) %}
<h3>Assign Leader</h3>
<div class="row">
    <div class="column search">
        <div class="is-input-group">
            <label class="is-medium-heading has-text-dark">Search</label>
            <div class="has-dropdown" style="width: 80%;">
                <input type="search" name="query" placeholder="Begin Typing To Search..."
                    style="border-bottom: solid #000;" hx-target="#leader-search" hx-post="/api/components/autocomplete"
                    hx-trigger="input changed delay:500ms, search"
                    hx-vals='{"macro":"character_dropdown", "module":"pages/_faction.html"}'
                    hx-on:input="this.value.length < 3 ? this.closest('.has-dropdown').classList.remove('is-active'):this.closest('.has-dropdown').classList.add('is-active')">
                <ul class="dropdown autocomplete-list" id="leader-search">
                </ul>
            </div>
        </div>
    </div>
</div>
{% endif %}
</div>
{%- endmacro %}

{% macro goalform(user, obj) -%}
<form hx-post="/api/model/update" hx-target="#model-content"
    hx-vals='{"macro":"attributes", "module":"pages/_faction.html"}'>
    <div class="row">
        <div class="column is-full">
            <label>Goal</label>
            {{components.texteditor(user, obj, "goal")}}
        </div>
    </div>
    <div class="row">
        <div class="column is-shrink is-end">
            <button class="button is-primary" type="submit">Update</button>
        </div>
    </div>
</form>
{%- endmacro %}

{% macro statusform(user, obj) -%}
<form hx-post="/api/model/update" hx-target="#model-content"
    hx-vals='{"macro":"attributes", "module":"pages/_faction.html"}'>
    <div class="row">
        <div class="column is-full">
            <label>Status</label>
            {{components.texteditor(user, obj, "status")}}
        </div>
    </div>
    <div class="row">
        <div class="column is-shrink is-end">
            <button class="button is-primary" type="submit">Update</button>
        </div>
    </div>
</form>
{%- endmacro %}

{% macro character_dropdown(user, objs=[]) -%}
{% for o in objs %}
{% if o.model_name() == "Character" %}
<li class="dropdown__link" hx-trigger="click" hx-post="/api/model/update" hx-target="#model-content"
    hx-vals='{"macro":"attributes", "module":"pages/_faction.html", "leader":"{{o.pk}}"}'>
    <div class=" row">
        <div class="column is-shrink">
            <div class="image is-tiny is-thumbnail" style="cursor: pointer">
                <img src=" {{o.image(size=50)}}" alt="{{o.name}}" />
            </div>
        </div>
        <div class="column">
            {{o.name}}
        </div>
    </div>
</li>
{% endif %}
{% endfor %}
{%- endmacro%}