{% import '_nav.html' as nav with context %}

{% macro menu(user=None, obj=None) -%}

<ul class="menu__list">
    {{nav.sidemenu_item(user, obj, name="History", url="/api/components/history")}}
    {{nav.sidemenu_item(user, obj, name="Attributes", url="/api/components/page/attributes")}}
    {{nav.sidemenu_item(user, obj, name="Area Map", url="/api/components/map")}}
    {{nav.sidemenu_item(user, obj, name="Associations", url="/api/components/associations")}}
</ul>
<p class="menu__divider"></p>
<ul class="menu__list">
    {{nav.sidemenu_item(user, obj,"Character", url="/api/components/childpanel/character")}}
    {{nav.sidemenu_item(user, obj,"Item", url="/api/components/childpanel/item")}}
    {% if user.world_user(obj) %}
    {{nav.sidemenu_item(user, obj,"Encounter", url="/api/components/childpanel/encounter")}}
    {% endif %}
</ul>
{%- endmacro %}

{% macro attributes(user, obj) -%}
<div class="column is-full tab-panel" id="poi-attributes">
    <h3 class="has-text-secondary">{{obj.title}} Type</h3>
    <div class="row">
        <div class="column">
            {% if user.world_owner(obj) %}
            <form hx-post="/api/model/update" hx-swap="none" hx-trigger="change">
                <div class="is-select">
                    <select class="has-bg-light" name="location_type" {% if not user.world_owner(obj) %} readonly {%
                        endif %}>
                        <option>--select a type of location--</option>
                        {% for ltype in obj.categories %}
                        <option value="{{ltype}}" {% if obj.location_type==ltype %} selected {% endif %}>
                            {{ltype}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </form>
            {% else %}
            <h4>{{obj.location_type}}</h4>
            {%endif %}
        </div>
    </div>
</div>
{%- endmacro %}