{% import '_components.html' as components with context %}
{% import '_nav.html' as nav with context %}
{# {% import 'pages/_region.html' as region with context %}
{% import 'pages/_location.html' as location with context %}
{% import 'pages/_city.html' as city with context %}
{% import 'pages/_faction.html' as faction with context %}
{% import 'pages/_poi.html' as poi with context %}
{% import 'pages/_encounter.html' as encounter with context %}
{% import 'pages/_character.html' as character with context %}
{% import 'pages/_creature.html' as creature with context %}
{% import 'pages/_item.html' as item with context %} #}

{% macro menu(user=None, obj=None) -%}

<ul class="menu__list">
    {{nav.sidemenu_item(user, obj, name="History", url="/api/components/history")}}
    {{nav.sidemenu_item(user, obj, name="World Map", url="/api/components/map")}}
    {{nav.sidemenu_item(user, obj, name="Campaigns", url="/api/components/page/campaigns")}}
    {{nav.sidemenu_item(user, obj, name="Timeline", url="/api/world/timeline")}}
</ul>
<p class="menu__divider"></p>
<ul class="menu__list">
    {{nav.sidemenu_item(user, obj,"Player", url="/api/components/childpanel/player")}}
    {{nav.sidemenu_item(user, obj,"Region", url="/api/components/childpanel/region")}}
    {{nav.sidemenu_item(user, obj,"City", url="/api/components/childpanel/city")}}
    {{nav.sidemenu_item(user, obj,"POI", url="/api/components/childpanel/poi")}}
    {{nav.sidemenu_item(user, obj,"Location", url="/api/components/childpanel/location")}}
    {{nav.sidemenu_item(user, obj,"Faction", url="/api/components/childpanel/faction")}}
    {{nav.sidemenu_item(user, obj,"Character", url="/api/components/childpanel/character")}}
    {{nav.sidemenu_item(user, obj,"Encounter", url="/api/components/childpanel/encounter")}}
    {{nav.sidemenu_item(user, obj,"Creature", url="/api/components/childpanel/creature")}}
    {{nav.sidemenu_item(user, obj,"Item", url="/api/components/childpanel/item")}}
</ul>
{% if user.world_user(obj) %}
<p class="menu__divider"></p>
<p class="menu__title">Admin</p>
<ul class="menu__list">
    {{nav.sidemenu_item(user, obj, name="GM Tools", url="/api/components/page/manage")}}
</ul>
{% endif %}
{%- endmacro %}

{% macro campaigns(user=None, obj=None) -%}
<div class="row">
    <div class="column is-full">
        <div class="panel has-bg-secondary">
            <h3>Select Campaign</h3>
            <select id="campaign-selected" class="has-bg-light" name="campaign_pk"
                hx-post="/api/world/campaign/sessions" hx-target="#model-content" hx-swap="innerHTML transition:true">
                <option value=""> == New Campaign == </option>
                {% for cmp in obj.campaigns.values() %}
                <option class="has-text-dark" value="{{cmp.pk}}" {% if obj.current_campaign and
                    obj.current_campaign.pk==cmp.pk %} selected {% endif %}>
                    {{cmp.name}}
                </option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% if obj.current_campaign %}
    <div class="column is-full">
        <h3 class="is-large-heading has-bg-secondary">
            {{obj.get_world().current_campaign.name}}</h3>
        <h4 class="subtitle">Campaign Summary</h4>
        <p>{{obj.current_campaign.summary}}</p>
    </div>
    <div class="column is-full" id="campaign-session-container">
        <div class="row">
            <div class="column">
                <h3>Campaign Sessions</h3>
            </div>
            {% if user.world_user(obj) %}
            <div class="column is-shrink is-end">
                <button class="button" hx-post="/api/components/page/campaign_new_session"
                    hx-target="#campaign-session-container">
                    <iconify-icon icon="game-icons:quill-ink" width="3rem"></iconify-icon>
                </button>
            </div>
            {% endif %}
            <div class="column is-full">
                <div class="accordion">
                    <ul class="accordion__list">
                        {% for entry in obj.current_campaign.sessions %}
                        <li class="accordion__item">
                            <a href="#session-entry-{{entry.pk}}" class="accordion__title">
                                <div class="row">
                                    <div class="column"
                                        onclick='this.closest(".accordion__item").classList.toggle("is-active");htmx.find("#entry-summary-{{entry.pk}}").classList.toggle("is-hidden");'>
                                        <h5>{{entry.title}}</h5>
                                    </div>
                                    <div class="column is-shrink"
                                        onclick='this.closest(".accordion__item").classList.toggle("is-active");htmx.find("#entry-summary-{{entry.pk}}").classList.toggle("is-hidden");'>
                                        <span class="tag">
                                            Last updated: {{entry.date}}
                                        </span>
                                    </div>
                                    {% if user.world_user(obj) %}
                                    <div class="column is-shrink">
                                        <button class="button is-small is-light"
                                            hx-post="/api/world/campaign/session/edit"
                                            hx-target="#campaign-session-container"
                                            hx-vals='{"session_pk":"{{entry.pk}}", "campaign_pk":"{{obj.current_campaign.pk}}"}'>Edit</button>
                                        <button class="button is-small is-light"
                                            hx-post="/api/world/campaign/session/delete" hx-target='closest li'
                                            hx-vals='{"session_pk":"{{entry.pk}}", "campaign_pk":"{{obj.current_campaign.pk}}"}'
                                            hx-swap="delete">Delete</button>
                                    </div>
                                    {% endif %}
                                    <div class="column is-full" id="entry-summary-{{entry.pk}}"
                                        onclick='this.closest(".accordion__item").classList.toggle("is-active");htmx.find("#entry-summary-{{entry.pk}}").classList.toggle("is-hidden");'>
                                        <p>
                                            {% if entry.summary %}
                                            {{entry.summary}}
                                            {% else %}
                                            Generating...
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </a>
                            <div class="accordion__content">
                                <hr class="has-bg-primary">
                                <p style="text-wrap: wrap;">
                                    {{entry.text | safe}}
                                </p>
                                <hr class="has-bg-primary">
                                <h4>Associations</h4>
                                <div class="row">
                                    {% if entry.associations %}
                                    {% for ass in entry.associations %}
                                    {{components.card(user=user, obj=ass)}}
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {%else%}
    <div class="column is-full">
        <div class="panel has-bg-primary">
            <h3 class="has-text-primary">Add Campaign</h3>
            <form hx-post="/api/world/campaign/add" hx-target="#model-content" hx-swap="innerHTML transition:true">
                <div class="row is-vertical">
                    <div class="column inputlabel">
                        <label class="has-text-primary" for="new_campaign_name">Name</label>
                        <input class="has-bg-light" type="text" name="campaign.name" id="new_campaign_name">
                    </div>
                    <div class="column inputlabel">
                        <label class="has-text-primary">Description</label>
                        {{components.texteditor(user, obj, attr="campaign.description")}}
                    </div>
                    <div class="column">
                        <input class="button" type="submit" value="add">
                    </div>
                </div>
            </form>
        </div>
    </div>
    {%endif%}
</div>
{%- endmacro %}

{% macro campaign_new_session(user=None, obj=None, entry=None) -%}
<div class="column is-full">
    <h4> {%if entry %} Edit {% else %} Add {%endif %} Entry </h4>
</div>
<div class="column">
    <form hx-post="/api/world/campaign/session/add" hx-trigger="submit" hx-target="#model-content">
        {%if entry %}
        <input type="hidden" name="session_pk" value="{{entry.pk}}">
        {%endif %}
        <input type="hidden" name="campaign_pk" value="{{obj.current_campaign.pk}}">
        <div class="row">
            <div class="column">
                <div class="row">
                    <div class="column">
                        <label class="has-text-secondary">Title</label>
                        <input class="has-bg-secondary" type="text" name="name"
                            value="{%if entry %}{{entry.title}}{%else%}Episode ##: title{%endif%}">
                    </div>
                    <div class="column is-shrink">
                        <label class="has-text-secondary" for="importance"> Importance </label>
                        <div class="is-select">
                            <select class="has-bg-secondary" name="importance">
                                <option value=0 {%if entry.importance==0 %}selected {%endif %}>
                                    No Consequential Events
                                </option>
                                <option value=1 {%if entry.importance==1 %}selected {%endif %}>
                                    Events with Possible Consequences
                                </option>
                                <option value=2 {%if entry.importance==2 %}selected {%endif %}>
                                    Highly Consequential Events
                                </option>
                                <option value=3 {%if entry.importance==3 %}selected {%endif %}>
                                    Critical Event Occured
                                </option>
                                <option value=4 {%if entry.importance==4 %}selected {%endif %}>
                                    Main Story Event Occured
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="column is-full">
                        <div id="scrolling-container">
                            <tinymce-editor name="text">
                                {%if entry %}{{entry.text}}{%endif %}
                            </tinymce-editor>
                        </div>
                    </div>
                    <div class="column is-shrink">
                        <input type="submit" class="button"
                            value="{% if entry %} Edit {% else %} Add {% endif %} Session">
                    </div>
                </div>
            </div>
            <div class="column is-3">
                <label class="is-medium-heading has-text-secondary">Add Associations</label>
                <div class="has-dropdown is-right" style="width: 80%;">
                    <input class="has-bg-secondary" type="search" name="query" style="border-bottom: solid #000;"
                        hx-post="/api/world/session/add/autocomplete"
                        hx-target="#campaign-new-session-association-search"
                        hx-trigger="input changed delay:500ms, search" hx-vals=' {"world":"{{obj.get_world().pk}}"}'
                        hx-on:input="this.value.length < 3 ? this.closest('.has-dropdown').classList.remove('is-active'):this.closest('.has-dropdown').classList.add('is-active')">
                    <ul class="dropdown has-bg-light" id="campaign-new-session-association-search">
                    </ul>
                </div>
                <hr class="has-bg-secondary">
                <h5 class="has-text-secondary">Associations</h5>
                <div class="panel has-bg-secondary rounded">
                    <div class="row" id="campaign-new-session-associations">
                        {% for a in entry.associations %}
                        {{components.card(user, a)}}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{%- endmacro %}

{% macro session_autocomplete_dropdown(user, objs=[]) -%}
{% for o in objs %}
<li class="dropdown__link" hx-trigger="click" hx-post="/api/components/card"
    hx-target="#campaign-new-session-associations" hx-swap="afterbegin"
    hx-vals='{"pk":"{{o.pk}}", "model":"{{o.model_name() | lower}}"}'
    onclick="this.closest('.has-dropdown').classList.remove('is-active')">
    <div class=" row">
        <div class="column is-shrink">
            <div class="image is-tiny is-thumbnail" style="cursor: pointer">
                <img src=" {{o.image(size=50)}}" alt="{{o.name}}" />
            </div>
        </div>
        <div class="column">
            {{o.name}}
        </div>
    </div>
</li>
{% endfor %}
{%- endmacro %}

{% macro timeline(user, obj, timeline, filters) -%}
<div class="column is-full tab-panel" id="world-timeline">
    <div class="panel has-bg-light has-text-dark" style="min-height:100%">
        <h3>Timeline</h3>
        <div class="row">
            <div class="column is-shrink">
                <div class="row is-vertical" id="timeline-top">
                    <div class="column">
                        <a class="button" href="#timeline-bottom">
                            <iconify-icon icon="lets-icons:down" width="1rem" height="1rem"></iconify-icon>
                            Go to Bottom
                        </a>
                    </div>
                    <div class="column">
                        <h4>Filter by Type</h4>
                        <div class="is-select">
                            <select id="timeline-type-filter" name="type_filter" hx-post="/api/world/timeline"
                                hx-trigger="change" hx-target="#model-content" hx-include="#timeline-time-filter">
                                <option value="">Complete</option>

                                {% for cat in obj.child_models %}
                                <option value="{{cat}}" {%if filters['type']==cat%} selected {%endif%}>
                                    {{cat | title}}
                                </option>
                                {% endfor %}

                            </select>
                        </div>
                    </div>
                    <div class="column">
                        <h4>Filter by Timeline</h4>
                        <div class="is-slider">
                            <input id="timeline-time-filter" hx-post="/api/world/timeline" hx-trigger="change"
                                hx-target="#model-content" hx-include="#timeline-type-filter" name="time_filter"
                                type="range" min="1" max="{{obj.current_year}}" value="{{filters['time']}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="column has-bg-secondary">
                {% for to in timeline %}
                <div class="row" style="border-bottom: 1px solid black;">
                    <div class="column is-2">
                        <a href="{{to['path']}}">
                            <div class="image is-tiny is-thumbnail is-rounded is-margin-center">
                                <img src="{{to['image']}}" class="has-bg-light">
                            </div>
                        </a>
                    </div>
                    <div class="column is-4">
                        <p class="has-text-center is-small-heading has-text-dark">
                            {{to['name']}}
                        </p>
                    </div>
                    <div class="column is-4">
                        <p>{{to['date_str']}}</p>
                    </div>
                    <div class="column is-2" style="border-left: 1px solid black;">
                        <div class="row has-centered">
                            <div class="column is-8" style="text-align:center">
                                {{to['icon'] | safe}}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro manage(user=None, obj=None) -%}
<div class="column is-full tab-panel" id="world-manage">
    {% if user.world_owner(obj)%}
    <h2> GM Tools </h2>
    <div class="panel has-bg-light has-text-dark">
        <h3>Manage Calendar</h3>
        {{manage_calendar(user, obj)}}
        <hr>
        <h3>Manage Users</h3>
        {{manage_users(user, obj)}}
        <hr>
    </div>
    {% endif %}
</div>
{%- endmacro %}

{% macro manage_calendar(user=None, obj=None) -%}
<form hx-post="/api/world/calendar/update" hx-swap="none">
    <div class="row">
        <div class="column is-4 has-bg-primary">
            <label>Age</label>
            <input class="has-bg-secondary" type="text" name="year_string" value="{{obj.system.calendar.year_string}}">
            <label>Number of Days / Year</label>
            <input class="has-bg-secondary has-text-dark" type="number" name="num_days_per_year"
                value="{{obj.system.calendar.days_per_year}}">
            <hr>

            <h4 class="has-text-light">Current Date</h4>
            <label for="day">Day</label>
            <input class="has-bg-secondary has-text-dark" type="number" name="day"
                value="{{obj.system.calendar.current_date.day}}">

            <label for="month">Month</label>
            <select class="has-bg-secondary has-text-dark" name="month">
                {% for month in obj.system.calendar.months %}
                <option value="{{month}}" {% if obj.system.calendar.current_date.month==month %} selected {% endif %}>
                    {{month}}
                </option>
                {% endfor %}
            </select>

            <label for="year">Year</label>
            <input class="has-bg-secondary has-text-dark" type="number" name="year"
                value="{{obj.system.calendar.current_date.year}}">
        </div>
        <div class="column" id="month-names">
            <label class="has-text-dark">Number of Months / Year</label>
            <input class="has-bg-secondary has-text-dark" type="number" name="num_months_per_year"
                id="num_months_per_year" value="{{obj.system.calendar.months | length}}">
            <h4>Month Names</h4>
            <div id="month-names-container">
                {% for month in obj.system.calendar.months %}
                <input class="has-bg-secondary month-name-entry" type="text" name="months[]" value="{{month}}">
                {% endfor %}
            </div>
        </div>
        <div class="column" id="day-names">
            <label class="has-text-dark">Number of Days / Week</label>
            <input class="has-bg-secondary has-text-dark" type="number" id="num_days_per_week" name="num_days_per_week"
                value="{{obj.system.calendar.days | length}}">
            <h4>Day Names</h4>
            <div id="day-names-container">
                {% for day in obj.system.calendar.days %}
                <input class="has-bg-secondary day-name-entry" type="text" name="days[]" value="{{day}}">
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column is-shrink is-end">
            <input class="button" type="submit" value="update">
        </div>
    </div>
</form>
{%- endmacro %}

{% macro manage_users(user=None, obj=None) -%}
<div class="row">
    <div class="column is-4">
        <h4>Add Users</h4>
        <form id="add_user_form" hx-post="{{obj.api_path()}}/user/add" hx-target="closest .row" hx-swap="outerHTML"
            hx-confirm="By adding this user, they will be able to make changes to the world. Are you sure?">
            <div class="row is-vertical">
                <div class="column">
                    <input class="has-bg-light" type="email" name="new_user" id="new_user"
                        placeholder="enter user email to add to allow them to make changes to this world...">
                </div>
                <div class="column">
                    <input class="button" type="submit" value="add">
                </div>
            </div>
        </form>
    </div>
    <div class="column">
        <h4>Primary User</h4>
        {{obj.user.name}}
    </div>
    <div class="column">
        <h4>Additional Users</h4>
        <div class="panel">
            <ul id="userlist">
                {% for u in obj.subusers %}
                <li>{{u.name}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{%- endmacro %}