{% macro manage(images) -%}

{# <nav class="pagination">
    <ul>
        {% for page in range(1, page_total)%}
        <li {% if page_num==page %} class="is-active" {%endif%}>
            <a href="{{request.url}}?page_num={{page}}">{{page}}</a>
        </li>
        {% endfor %}
    </ul>
</nav> #}
{% for category, image_category in images.items() %}
<h2 class="has-text-center has-bg-primary has-text-primary">{{category}}</h2>
<div class="row has-bg-muted has-text-primary has-space-around">
    {% for url in image_category%}
    <div class="column is-2 image-container has-centered has-text-center has-bg-light">
        <div class="image is-medium is-thumbnail is-margin-center" style="overflow: hidden;">
            <img src="{{url}}" />
        </div>
        <button class="button is-small" hx-post="/admin/manage/image/delete" hx-target="closest .image-container"
            hx-swap="delete" hx-vals='{"image":"{{url}}"}' hx-confirm="Are you sure you want to delete this image?">
            <iconify-icon icon="mdi:delete"></iconify-icon>
        </button>
    </div>
    {% endfor %}
</div>
{% endfor %}
{%- endmacro %}