//////////////////////////////////////////////
//                 Variables                //
//////////////////////////////////////////////

/// - https://orbitcss.com/documentation/sass-variables
// List of variables
//////////////////////////////////////////////
//                 Styles                   //
//////////////////////////////////////////////

@import "autostyle/all";

.textbox
{
    padding: 1.5rem 0;
    font-size: 1.25rem;
    text-align: justify;
}

#back-to-top
{
    display: none;
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    background-color: $primary;
    border-radius: 10px;
    padding: .5rem;
    border: 1px solid $primarytext;
    color: $primarytext;
    cursor: pointer;
    z-index: 999;

    &:hover
    {
        background-color: lighten($primary, 10%);
    }
}

.htmx-indicator
{
    display: none;
}

.htmx-request .htmx-indicator
{
    display: inline;
}

.htmx-request.htmx-indicator
{
    display: inline;
}

#request-indicator
{
    padding: 1rem;
    background-color: rgba($primary, 0.25);
    border-radius: 10px;
    position: fixed;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//####### Mobile Styles #######
@include small
{
    .menu-anchor
    {
        font-size: 3rem;
    }

    .top__brand span
    {
        display: none;
    }
}