{% extends "base.html" %}
{% import '_components.html' as components with context %}

{% block content %}

<div class="row has-centered is-vertical">
    <div class="column is-shrink">
        <h2>Login</h2>
    </div>
</div>
<div class="row has-space-around">
    <div class="column is-shrink">
        <form action="{{ url_for('auth.login') }}" method="post">
            <input type="hidden" name="authprovider" value="google">
            <button class="button" type="submit">
                with &ensp; <iconify-icon icon="devicon:google" width="50"></iconify-icon>
            </button>
        </form>
    </div>
    <div class="column is-shrink">
        <form action="{{ url_for('auth.login') }}" method="post">
            <input type="hidden" name="authprovider" value="github">
            <button class="button" type="submit">
                with &ensp; <iconify-icon icon="devicon:github" width="50"></iconify-icon>
            </button>
        </form>
    </div>
</div>
{% endblock %}