##############################################
# Object Page Panels
##############################################
{% macro history(user, obj) -%}
<title>{{obj.name}} - History</title>
<div class="row has-space-around" id="history-panel">
    <div class="column is-full">
        <div class="row">
            <div class="column">
                <div class="imagebox is-float-right" style="width:50%;">
                    <div class="image is-extra-large "
                        style="width:100%; height: 50%; padding-left: 2rem; padding-bottom: 2rem;"
                        hx-post="/api/components/imagemanage" hx-trigger="click" hx-target="#model-content"
                        hx-swap="innerHTML transition:true">
                        <img src="{{obj.image(size='large')}}" alt="{{obj.name}}" />
                    </div>
                </div>
                <div>
                    <div class="row has-bg-primary">
                        {% if obj.model_name() != "World" %}
                        <div class="column is-half has-text-primary">
                            <h4>{{obj.start_date_str}}</h4>
                        </div>
                        <div class="column is-half has-text-primary">
                            <h4>
                                {% if obj.end_date_str %}
                                {{obj.end_date_str}}
                                {% endif %}
                            </h4>
                        </div>
                        {%endif%}
                    </div>
                    <div class="textbox">{{obj.backstory | safe}}</div>
                </div>
            </div>
        </div>
        {% if user.world_user(obj) %}
        <div class="row">
            <div class="column is-shrink">
                <button class="button" hx-post="/api/components/history_editor" hx-target="#model-content"
                    hx-swap="innerHTML transition:true">
                    Edit
                </button>
            </div>
        </div>
        <hr class="has-bg-secondary">
        <div class="panel has-bg-primary">
            <div class="row" id="journal-container" hx-vals='{"journal_pk":"pbj.journal.pk"}'>
                <div class="column">
                    <h3 class="has-text-primary">Journal Entries</h3>
                </div>
                <div class="column is-mobile-shrink is-shrink is-end">
                    <button class="button" hx-post="/api/components/journal_new_entry" hx-target="#journal-container">
                        <iconify-icon icon="game-icons:quill-ink" width="3rem"></iconify-icon>
                    </button>
                </div>
                <div class="column is-full">
                    <div class="accordian">
                        <ul class="accordion__list">
                            {% for entry in obj.journal.entries %}
                            <li class="accordion__item">
                                <a href="#journal-entry-{{obj.pk}}" class="accordion__title has-bg-secondary">
                                    <div class="row has-bg-secondary">
                                        <div class="column journal-entry-title"
                                            onclick='this.closest(".accordion__item").classList.toggle("is-active");'>
                                            <h5>{{entry.title}}</h5>
                                        </div>
                                        <div class="column is-shrink"
                                            onclick='this.closest(".accordion__item").classList.toggle("is-active");'>
                                            <span class="tag journal-entry-date">
                                                Last updated: {{entry.date}}
                                            </span>
                                        </div>
                                        <div class="column is-shrink is-mobile-shrink ">
                                            <button class="button is-small" hx-post="/api/journal/entry/edit"
                                                hx-target="#journal-container"
                                                hx-vals='{"entry_pk":"{{entry.pk}}"}'>Edit</button>
                                        </div>
                                        <div class="column is-shrink is-mobile-shrink ">
                                            <button class="button is-small" hx-post="/api/journal/entry/delete"
                                                hx-target='closest li' hx-vals='{"entry_pk":"{{entry.pk}}"}'
                                                hx-swap="delete">Delete</button>
                                        </div>
                                    </div>
                                </a>
                                <div class="accordion__content has-bg-light" id="#journal-entry-{{obj.pk}}">
                                    <hr class="has-bg-primary">
                                    <p class="journal-entry-text">{{entry.text | safe}}</p>
                                    <hr class="has-bg-primary">
                                    <h4>Associations</h4>
                                    <div class="row journal-entry-associations">
                                        {% if entry.associations %}
                                        {% for ass in entry.associations %}
                                        {{card(user=user, obj=ass)}}
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endmacro -%}

{% macro childpanel(user, obj, model) -%}
<title>{{obj.name}} - {{model}} panel</title>
<div class="row has-bg-primary has-space-around is-vertically-centered">
    <div class="column">
        <h2 class="has-text-primary">{{model | title}}</h2>
    </div>
    {% if user.world_user(obj) %}
    <div class="column is-shrink">
        <button class="button" hx-post="/api/components/childpanel/manage/{{model | lower}}" hx-target="#model-content"
            hx-swap="innerHTML transition:true">
            Manage {{title}}
        </button>
    </div>
    {% endif %}
</div>
<div class="row has-space-around has-row-margin cards-container">
    {% for o in obj.get_children(model) %}
    {{ cardwithcontrols(user, o, ['copy', 'remove', 'delete']) }}
    {% endfor %}
</div>
{%- endmacro %}

{% macro map(user, obj) -%}
<title>{{obj.name}} - Map</title>
<div class="row">
    <div class="column">
        <h3>Map</h3>
    </div>
    <div class="column is-shrink is-end">
        <button class="button" id="map-full-screen">Battle Mode</button>
    </div>
</div>
<div class="row">
    <div class="column is-full">
        <a href="{{obj.battlemap_url}}" target="_blank">
            <div class="image is-margin-center" width="100%">
                <div id="model-battlemap-image">
                    <img src="{{obj.battlemap_url}}" alt="{{obj.name}} map" />
                </div>
                <div class="is-hidden" id="map-grid-overlay"></div>
            </div>
        </a>
    </div>
</div>
<hr>
{# <div class="row has-space-around has-bg-primary">
    <div class="column">
        <label>Grid</label>
        <div class="is-slider">
            <input type="range" id="map-grid-slider">
        </div>
    </div>
</div> #}
{% if user.world_user(obj) %}
<div class="row has-bg-primary">
    <div class="column is-shrink">
        <button class="button" hx-post="/task/generate/battlemap" hx-target="#model-content" hx-vals='{"macro":"map"}'>
            {%if obj.battlemap %}Reg{%else%}G{%endif%}enerate Map
        </button>
    </div>
    <div class="column">
        <form hx-post="/api/model/update" hx-target="#model-content" hx-vals='{"macro":"map"}'>
            <div class="is-input-group">
                <input class="" type="text" name="battlemap_url" id="map_url" placeholder="enter map url...">
                <input class="button" type="submit" name="submit" value="Upload">
            </div>
        </form>
    </div>
    <div class="column is-full">
        <button class="button" hx-post="/api/components/mapgallery" hx-target="#model-content" hx-swap="beforeend">
            <iconify-icon icon="game-icons:card-random"></iconify-icon>
            Select Existing
        </button>
        <div class="row has-space-around has-bg-secondary" id="map-select-gallery">
        </div>
    </div>
</div>
{% endif %}
{%- endmacro %}

{% macro associations(user, obj) -%}
<title>{{obj.name}} - Associations</title>
<div class="row">
    <div class="column is-half">
        <h3>Associations</h3>
    </div>
    {% if user.world_user(obj) %}
    <div class="column search">
        <div class="is-input-group">
            <label class="is-medium-heading has-text-dark">Search</label>
            <div class="has-dropdown" style="width: 80%;">
                <input type="search" name="query" placeholder="Begin Typing To Search..."
                    style="border-bottom: solid #000;" hx-target="#association-search"
                    hx-post="/api/components/autocomplete" hx-trigger="input changed delay:500ms, search"
                    hx-vals='{"macro":"association_dropdown"}'
                    hx-on:input="this.value.length < 3 ? this.closest('.has-dropdown').classList.remove('is-active'):this.closest('.has-dropdown').classList.add('is-active')">
                <ul class="dropdown autocomplete-list has-bg-light" id="association-search">
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
</div>
<hr>
<div id="associated-objects">
    <div class="row has-space-around cards-container">
        {% for a in obj.associations %}
        {{ cardwithcontrols(user, a, ['unassociate']) }}
        {% endfor %}
    </div>
</div>
{%- endmacro %}

##############################################
# Object Page Components
##############################################

{% macro model_title(user, obj) -%}
<div class="row has-space-around has-no-padding" id="model-geneology-container"
    style="background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('{{obj.get_world().image()}}'); background-size: cover;">
    <div class="column">
        <h1 id="model-title" class="has-text-center has-text-primary" {% if user.world_user(obj) %}
            contenteditable="true" hx-post="/api/model/update" hx-trigger="input delay:1s"
            hx-vals="js:{name:document.querySelector('#model-title').innerHTML.trim()}" hx-swap="none" {% endif %}>
            {{obj.name | striptags}}
        </h1>
    </div>
    {%if user.admin %}
    <div class="column is-mobile-half is-shrink">
        <button class="button" hx-post="/task/generate" hx-target="closest .column">
            AI Data
            Completion
        </button>
    </div>
    {% endif%}
    <div class="column is-mobile-half is-shrink">
        <p>Current Campaign:</p>
        <p class="is-small-heading has-bg-secondary" id="current-world-campaign">
            {{obj.get_world().current_campaign.name}}</p>
    </div>
</div>
{%- endmacro %}

{% macro association_dropdown(user, objs=[]) -%}
{% for o in objs %}
<li class="dropdown__link has-bg-secondary" hx-trigger="click" hx-post="/api/model/associate/{{o.model_name() | lower}}"
    hx-target="#model-content" hx-swap="innerHTML transition:true" hx-vals='{"child_pk":"{{o.pk}}"}'>
    <div class=" row">
        <div class="column is-shrink">
            <div class="image is-tiny is-thumbnail" style="cursor: pointer">
                <img src=" {{o.image(size=50)}}" alt="{{o.name}}" />
            </div>
        </div>
        <div class="column">
            {{o.name}}
        </div>
    </div>
</li>
{% endfor %}
{%- endmacro%}

{% macro card(user, obj, root=None) -%}
<div class="column has-text-center is-card">
    <input type="hidden" name="card[].pk" value="{{obj.pk}}">
    <input type="hidden" name="card[].model" value="{{obj.model_name()}}">
    <a href="{{obj.page_path()}}">
        <div class="image is-medium is-thumbnail is-margin-center">
            <img src="{{obj.image(size='100')}}" loading="lazy" alt="{{obj.name}}" style="width:100%; height:100%;" />
        </div>
        <h4 class="has-text-dark">
            {% if obj.name %} {{obj.name}} {% else %} {{obj.title}} {% endif %}
        </h4>
    </a>
</div>
{%- endmacro %}

##############################################
# Object Management Panels
##############################################

{% macro childmanage(user, obj, childmodel) -%}
<title>{{obj.name}} - {{childmodel}} Manager</title>
<div class="row has-space-between">
    <div class="column is-shrink">
        <button class="button" hx-post="/api/model/add/{{childmodel}}" hx-target="#model-content">Create New
            {{childmodel | title}}
        </button>
    </div>
    <div class="column is-shrink">
        <h3>...or manage an existing {{childmodel | title}}</h3>
    </div>
    <div class="column is-shrink">
        <div hx-post="/api/components/childpanel/{{childmodel}}" hx-trigger="click" hx-target="#model-content">
            <iconify-icon icon='material-symbols:close' width="3rem" style="color: black;"></iconify-icon>
        </div>
    </div>
    <div class="column is-full">
        <hr>
        <div class="row has-space-around cards-container" id="child-manage-{{childmodel | lower}}">
            {% for orphan in obj.unassigned(childmodel) %}
            {% if obj.has_children(childmodel) %}
            {{ cardwithcontrols(user, orphan, ['copy', 'delete', 'remove', 'assign']) }}
            {% else %}
            {{ cardwithcontrols(user, orphan, ['copy', 'delete', 'remove']) }}
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{%- endmacro %}

{% macro history_editor(user, obj) -%}
<title>{{obj.name}} - History Manager</title>
<div class="panel has-bg-primary" style="min-height:100%">
    <h3 class="has-text-primarytext">Edit {{obj.name}}'s History</h3>
    <form hx-post="/api/model/update" hx-target="#model-content">
        <div class="row">
            {% if obj.model_name() != "World" %}
            <div class="column is-full is-desktop-half">
                <h6 class="has-text-secondary">From</h6>
                <div class="row has-bg-light">
                    <div class="column is-2">
                        <label for="start_date.day">Day</label>
                        <input class="inputlabel" type="number" name="start_date.day" value="{{obj.start_date.day}}">
                    </div>
                    <div class="column is-7">
                        <label for="start_date.month">Month</label>
                        <select class="has-bg-secondary" name="start_date.month">
                            {% for month in obj.system.calendar.months %}
                            <option value="{{loop.index0}}" {% if obj.get_start_month()==month %} selected {%endif%}>
                                {{month}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="column is-3">
                        <label for="start_date.year">Year</label>
                        <input class="inputlabel" type="number" name="start_date.year" value="{{obj.start_date.year}}">
                    </div>
                </div>
            </div>
            <div class="column is-full is-desktop-half">
                {% if user.world_user(obj)%}
                <h6 class="has-text-secondary">To</h6>
                <form hx-post="/api/model/update" hx-trigger="change" hx-swap="none">
                    <div class="row has-bg-light">
                        <div class="column is-2">
                            <label for="end_date.day">Day</label>
                            <input class="inputlabel" type="number" name="end_date.day" value="{{obj.end_date.day}}">
                        </div>
                        <div class="column is-7">
                            <label for="end_date.month">Month</label>
                            <select class="has-bg-secondary" name="end_date.month">
                                {% for month in obj.system.calendar.months %}
                                <option value="{{loop.index0}}" {% if obj.get_end_month()==month %} selected {%endif%}>
                                    {{month}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="column is-3">
                            <label for="end_date.year">Year</label>
                            <input class="inputlabel" type="number" name="end_date.year" value="{{obj.end_date.year}}">
                        </div>
                    </div>
                </form>
                {% endif %}
            </div>
            {% endif %}
            <div class="column is-full">
                {{texteditor(user, obj, 'backstory')}}
            </div>
            <div class="column is-full">
                <input type="submit" class="button" value="Update">
            </div>
        </div>
    </form>
</div>
{% endmacro %}

{% macro imagemanage(user=None, obj=None) -%}
<title>{{obj.name}} - Manage Image</title>
<div class="panel">
    <div class="row has-space-around">
        <div class="column is-full has-no-padding">
            <div class="row">
                <div class="column">
                    <h3 class="subtitle">Image Manager for {{obj.name}}</h3>
                </div>
                <div class="column is-shrink is-end">
                    <div hx-post="/api/components/history" hx-target="#model-content"
                        hx-swap="innerHTML transition:true">
                        <iconify-icon icon='material-symbols:close' width="3rem" style="color: black;"></iconify-icon>
                    </div>
                </div>
            </div>
            <div class="row" id="image-manage-container">
                <div class="column">
                    <div class="image is-margin-center" id="model-owner-image">
                        <img src="{{obj.image(size='medium')}}" alt="{{obj.name}}" />
                    </div>
                </div>
                <div class="column">
                    <h5>Image Description</h5>
                    <div class="panel has-bg-light">
                        <p id="model-desc" class="has-text-dark" contentEditable="true" hx-post="/api/model/update"
                            hx-trigger="input delay:1s" hx-vals="js:{desc:htmx.find('#model-desc').innerHTML.trim()}"
                            hx-swap="none">
                            {{obj.desc | striptags}}
                        </p>
                    </div>
                    <hr class="has-bg-primary">
                    <div class="row">
                        <div class="column">
                            <button class="button is-large" hx-post="/task/generate/image" hx-target="closest .column"
                                hx-confirm="Are you sure you want to generate and overwrite the current image?">
                                <iconify-icon icon="tabler:photo-ai"></iconify-icon>
                                AI Generated Image
                            </button>
                        </div>
                    </div>
                    <hr class="has-bg-primary">

                    <form hx-post="/api/model/update" hx-select='#model-owner-image' hx-target="#model-owner-image"
                        hx-confirm="Are you sure you want to upload and overwrite the current image?">
                        <div class="row">
                            <div class="column">
                                <button class="button" type="submit">
                                    <iconify-icon icon="lucide:link"></iconify-icon> Upload from URL
                                </button>
                            </div>
                            <div class="column">
                                <div class="inputlabel">
                                    <input class="has-bg-light" type="url" name="image_url" placeholder="enter url....">
                                </div>
                            </div>

                        </div>
                    </form>

                    <hr class="has-bg-primary">
                    <div class="row">
                        <div class="column is-shrink">
                            <button class="button" hx-post="/api/components/imagegallery" hx-target="#model-content"
                                hx-swap="beforeend transition:true">
                                <iconify-icon icon="game-icons:card-random"></iconify-icon>
                                Select From Gallery
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro -%}


##############################################
# Object Management Components
##############################################

{%macro imagegallery(user, obj) -%}
<div class="row has-space-around" hx-on::load="this.scrollIntoView();">
    {% for image in obj.get_image_list() %}
    <div class="column is-2 has-text-center has-centered">
        <div class="image is-medium is-thumbnail is-margin-center" style="cursor: pointer">
            <img src="{{image.url}}" alt="{{obj.name}}" hx-post="/api/model/update" hx-target="#model-content"
                hx-vals='{"asset_id":"{{image.asset_id}}", "macro":"imagemanage"}' />
        </div>
    </div>
    {% endfor %}
</div>
{%- endmacro %}

{%macro mapgallery(user, obj) -%}
<div class="row has-space-around has-bg-secondary">
    {% for map in obj.get_map_list() %}
    <div class="column is-2">
        <div class="image is-medium is-margin-center" style="cursor: pointer; overflow:hidden;">
            <img src="{{map.url}}" alt="{{obj.name}}" hx-post="/api/model/update" hx-target="#model-content"
                hx-vals='{"battlemap":"{{map.asset_id}}", "macro":"map"}' />
        </div>
    </div>
    {% endfor %}
</div>
{%- endmacro %}

{% macro journal_new_entry(user=None, obj=None, entry=None) -%}
<div class="row">
    <div class="column is-full">
        <h4> {%if entry %} Edit {% else %} Add {%endif %} Entry </h4>
    </div>
    <div class="column">
        <form hx-post="/api/journal/entry/add" hx-trigger="submit" hx-target="#model-content">
            {%if entry %} <input type="hidden" name="entry_pk" value="{{entry.pk}}"> {%endif %}
            <div class="row">
                <div class="column">
                    <div class="row">
                        <div class="column inputlabel">
                            <label>Title</label>
                            <input class="has-bg-secondary" type="text" name="name" {%if entry %}
                                value="{{entry.title}}" {%endif %}>
                        </div>
                        <div class="column is-shrink inputlabel">
                            <label for="importance"> Importance </label>
                            <div class="is-select">
                                <select class="has-bg-secondary" name="importance">
                                    <option value=0 {%if entry.importance==0 %}selected {%endif %}>
                                        No Consequence
                                    </option>
                                    <option value=1 {%if entry.importance==1 %}selected {%endif %}>
                                        Possible Consequences
                                    </option>
                                    <option value=2 {%if entry.importance==2 %}selected {%endif %}>
                                        Highly Consequential
                                    </option>
                                    <option value=3 {%if entry.importance==3 %}selected {%endif %}>
                                        Critical Event
                                    </option>
                                    <option value=4 {%if entry.importance==4 %}selected {%endif %}>
                                        Main Story Event
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="column is-full">
                            <div id="scrolling-container">
                                <tinymce-editor name="text">
                                    {%if entry %}{{entry.text}}{%endif %}
                                </tinymce-editor>
                            </div>
                        </div>
                        <div class="column is-shrink">
                            <input type="submit" class="button" value="Add Journal Entry">
                        </div>
                    </div>
                </div>
                <div class="column is-3">
                    <label class="is-medium-heading has-text-secondary">Add Associations</label>
                    <div class="has-dropdown is-right" style="width: 80%;">
                        <input class="has-bg-secondary" type="search" name="query" style="border-bottom: solid #000;"
                            hx-post="/api/components/autocomplete" hx-target="#journal-new-entry-association-search"
                            hx-trigger="input changed delay:500ms, search" hx-vals=' {"world":"{{obj.get_world().pk}}"}'
                            hx-on:input="this.value.length < 3 ? this.closest('.has-dropdown').classList.remove('is-active'):this.closest('.has-dropdown').classList.add('is-active')">
                        <ul class="dropdown has-bg-light" id="journal-new-entry-association-search">
                        </ul>
                    </div>
                    <hr class="has-bg-secondary">
                    <h5 class="has-text-secondary">Associations</h5>
                    <div class="panel has-bg-secondary rounded">
                        <div class="row" id="new-associations">
                            {% for a in entry.associations %}
                            {{card(user, a)}}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{%- endmacro %}

{% macro cardwithcontrols(user, obj, controls=[]) -%}
<div class="column is-4 is-desktop-3 is-desktop-x-2 is-mobile-auto card-container" hx-vals='{"child_pk":"{{obj.pk}}"}'
    id="object-card-{{obj.pk}}">
    <div class="row is-vertical has-centered">
        {{card(user, obj)}}
        {% if user.world_user(obj) %}
        <div class="column is-shrink card-controls">
            <div class="row has-space-around">
                {% if 'copy' in controls %}
                <div class="column is-shrink is-mobile-shrink ">
                    <button class="button is-small" hx-post="/api/model/copy/{{obj.model_name() | lower}}"
                        hx-target="#model-content" hx-swap="innerHTML transition:true">
                        <iconify-icon icon="game-icons:double-dragon"></iconify-icon>
                    </button>
                </div>
                {% endif %}
                {% if obj.parent and 'remove' in controls %}
                <div class="column is-shrink is-mobile-shrink model-remove">
                    <button class="button is-small" hx-post="/api/model/remove/{{obj.model_name() | lower}}"
                        hx-target="#model-content" hx-swap="innerHTML transition:true">
                        <iconify-icon icon="dashicons:editor-unlink"></iconify-icon>
                    </button>
                </div>
                {% endif %}
                {% if not obj.parent %}
                {% if 'delete' in controls %}
                <div class="column is-shrink is-mobile-shrink  model-delete">
                    <button class="button is-small" hx-post="/api/model/delete/{{obj.model_name() | lower}}"
                        hx-target="closest .card-container" hx-swap="outerHTML">
                        <iconify-icon icon="material-symbols-light:delete-outline"></iconify-icon>
                    </button>
                </div>
                {% endif %}
                {% if 'assign' in controls %}
                <div class="column is-shrink is-mobile-shrink model-assign">
                    <button class="button is-small" hx-post="/api/model/assign/{{obj.model_name() | lower}}"
                        hx-target="#model-content" hx-swap="innerHTML transition:true">
                        <iconify-icon icon="pajamas:assignee" width="1rem" height="1rem"></iconify-icon>
                    </button>
                </div>
                {% endif %}
                {% endif %}
                {% if 'unassociate' in controls %}
                <div class="column is-shrink model-unassociate">
                    <button class="button is-small" hx-post="/api/model/unassociate/{{obj.model_name() | lower}}"
                        hx-target="#model-content" hx-swap="innerHTML transition:true">
                        <iconify-icon icon="pixelarticons:unlink" width="1rem" height="1rem"></iconify-icon>
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
    <hr>
</div>
{%- endmacro%}

{% macro autocomplete_dropdown(user, objs=[]) -%}
{% for o in objs %}
<li class="dropdown__link has-bg-secondary" hx-trigger="click" hx-post="/api/components/card"
    hx-target="#new-associations" hx-swap="afterbegin" hx-vals='{"pk":"{{o.pk}}", "model":"{{o.model_name() | lower}}"}'
    onclick="this.closest('.has-dropdown').classList.remove('is-active')">
    <div class=" row">
        <div class="column is-shrink">
            <div class="image is-tiny is-thumbnail" style="cursor: pointer">
                <img src=" {{o.image(size=50)}}" alt="{{o.name}}" />
            </div>
        </div>
        <div class="column">
            {{o.name}}
        </div>
    </div>
</li>
{% endfor %}
{%- endmacro%}

{% macro texteditor(user, obj, attr) -%}
<div id="scrolling-container">
    <tinymce-editor name="{{attr}}" menubar="false" toolbar=" undo redo | styles | bold italic | removeformat"
        plugins="link lists powerpaste autolink tinymcespellchecker" resize='true' content_style="body
                        {
                            font-family:Open-Sans,sans-serif;
                            font-size:1.25rem;
                            line-height: 1.5;
                        }">{{obj[attr]}}</tinymce-editor>
</div>
{%- endmacro %}

{% macro listeditor(user, obj, attr) -%}
<div class="row">
    <div class="column is-full">
        <div id="scrolling-container">
            <tinymce-editor name="{{attr}}[]" menubar="false" toolbar=" undo redo | styles | bold italic | removeformat"
                placeholder="Add new {{attr}}" plugins="link lists powerpaste autolink tinymcespellchecker"
                resize='true' content_style="body
                        {
                            font-family:Open-Sans,sans-serif;
                            font-size:1.25rem;
                            line-height: 1.5;
                        }"></tinymce-editor>
        </div>
    </div>
</div>
{%for item in obj[attr] %}
<div class="row">
    <div class="column is-full">
        <div id="scrolling-container">
            <tinymce-editor name="{{attr}}[]" menubar="false" toolbar=" undo redo | styles | bold italic | removeformat"
                plugins="link lists powerpaste autolink tinymcespellchecker" resize='true' content_style="body
                        {
                            font-family:Open-Sans,sans-serif;
                            font-size:1.25rem;
                            line-height: 1.5;
                        }">{{item | safe}}</tinymce-editor>
        </div>
    </div>
</div>
<hr>
{%endfor%}
{%- endmacro %}

##############################################
# Task Components #
##############################################
{% macro checktask (task_id) -%}
<div class="alert has-bg-primary" hx-post="/task/checktask/{{task_id}}" hx-target="closest .column"
    hx-trigger="load delay:2s">
    <div class="row has-space-around has-no-padding">
        <div class="column has-text-center has-text-primary">
            <h3 class="has-text-light-grey">Working...</h3>
        </div>
        <div class="column">
            <div class="image is-tiny">
                <img src="/static/images/grid.svg" alt="loading" height="2rem">
            </div>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro completetask (url) -%}
<div class="alert has-bg-primary" hx-post="{{url}}" hx-trigger="load" hx-target="#model-content"
    hx-swap="innerHTML transition:true">
    <h3 class="has-text-light-grey">Complete</h3>
</div>
{%- endmacro %}

##############################################
# Main Page Components #
##############################################

{% macro worldbuild (user) -%}
<div class="row">
    <div class="column is-vertically-centered has-bg-primary is-8" id="create-world">
        <form id="world-build-form" hx-post="/api/world/build" hx-target="#user-worlds">
            <input type="hidden" name="user" value="{{user.pk}}">
            <div class="row">
                <div class="column is-half">
                    <select class="has-bg-light" name="system">
                        <option value="fantasy">Fantasy</option>
                        <option value="sci-fi">Sci-Fi</option>
                        <option value="horror">Horror</option>
                        <option value="mystery">Mystery</option>
                        <option value="historical">Historical</option>
                        <option value="western">Western</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="column is-full">
                    <input class="has-bg-light" type="text" name="name" placeholder="World Name">
                </div>
            </div>
            <div class="row">
                <div class="column is-full">
                    <input class="has-bg-light" type="text" name="desc" placeholder="Brief World Description...">
                </div>
            </div>
            <div class="row">
                <div class="column is-full">
                    <input class="has-bg-light" type="text" name="backstory" placeholder="Brief World History...">
                </div>
            </div>
            <div class="row">
                <div class="column is-full">
                    <input class="button rounded is-full" type="submit" value="Build" id="create-world-submit">
                </div>
            </div>
        </form>
    </div>
    <div class="column is-shrink is-end">
        <div hx-post="/api/components/worlds" hx-target="#user-worlds">
            <iconify-icon icon=' material-symbols:close' width="3rem" style="color: black;"></iconify-icon>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro worlds(user) -%}
<div class="hero" id="world-model">
    <div class="hero__content">
        <div class="row">
            <div class="column is-vertically-centered">
                <div class="container has-text-center">
                    <h2 class="is-subheading has-text-light engraved">A place to create and share your stories
                    </h2>
                    <button class="button is-rounded is-primary is-large" hx-post="/api/components/worldbuild"
                        hx-target="closest .column">Create a World</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    {% for w in user.worlds %}
    <div class="column world-entry is-6" style="background-image: url('{{w.image()}}');">
        <div class="row has-bg-muted has-centered" style="height:100%">
            <div class=" column has-text-primary">
                <a href="{{w.page_path()}}">
                    <span class="tag is-primary">{{w.genre}}</span>
                    <h2 class="has-text-secondary">{{w.name}}</h2>
                    <div class="panel" class="has-bg-white">
                        <p class="has-text-secondary">{{w.backstory_summary}}</p>
                    </div>
                </a>
            </div>
            <div class="column is-shrink has-text-center is-end">
                <button class="button is-small is-round" hx-post="/api/world/delete" hx-target="closest .world-entry"
                    hx-swap="delete" hx-vals='{"pk":"{{w.pk}}", "user": "{{user.pk}}"}'
                    hx-confirm="Are you sure you want to delete this world? This cannot be undone.">
                    <iconify-icon icon="material-symbols-light:delete-outline"></iconify-icon>
                </button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{%- endmacro %}